@model BLL.Interface.Models.User
@using BLL.Services

@{
    ViewBag.Title = "GetAccountInfo";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">
                Аккаунт пользователя
            </h2>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Домой", "Index", "Home")
                </li>
                <li class="active">Аккаунт пользователя</li>
            </ol>
        </div>
    </div>

    <div>
        <h4>Пользователь</h4>
        <hr />
		<dl class="dl-horizontal">
			<dt>
				<p>Логин</p>
			</dt>

			<dd>
				@Html.DisplayFor(model => model.UserName)
			</dd>

			<dt>
				<p>Имя</p>
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Info.Name)
			</dd>

			<dt>
				<p>Фамилия</p>
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Info.Surname)
			</dd>

			<dt>
				<p>Номер телефона</p>
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Info.PhoneNumber)
			</dd>

			<dt>
				<p>Электронный адрес</p>
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Info.Email)
			</dd>

			<dt>
				<p>Возраст</p>
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Info.Age)
			</dd>

			<dt>
				<p>Пол</p>
			</dt>

			<dd>
				@Model.Info.Sex.GetDisplayName()
			</dd>
		</dl>
    </div>

</div>
