@using BLL.Interface.Models
@model List<Room>

@{
    ViewBag.Title = "One Column Portfolio";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Номера
                <small>Отличные предложения по доступной цене</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Домой", "Index", "Home")
                </li>
                <li class="active">Номера</li>
            </ol>
        </div>
    </div>
	@if(Model.Count == 0)
	{
	<div class="row">
		<div class="col-md-7">
			<h1>Не найдено ни одного номера. Обратитесь в нашу техподдержку.</h1>
		</div>
	</div>
	}
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-md-7">
                <img src="@item.ImageURL" class="img-responsive">
            </div>
            <div class="col-md-5">
                <h3>Цена за ночь: @item.DayPrice BYN</h3>
                <h4>Количество спальных мест: @item.PlacesCount</h4>
                <p>@item.Description</p>
                <a href="@Url.Action("SingleItem", "Portfolio")" class="btn btn-primary">Забронировать<i class="fa fa-angle-right"></i></a>
            </div>
        </div>
        <hr>
    }
</div>